@import "assets/fonts/stylesheet.css";
@import "scss/reset.scss";
@import "scss/ui.scss";
@import "scss/header.scss";
@import "scss/home.scss";
@import "scss/footer.scss";
@import "scss/fonts/font-icons.css";

$fontFamily: 'Segoe UI';
$maxWidth: 984px;
$mainBackground: #FAFAFA;

body {
  background-color: $mainBackground;
  font-family: $fontFamily;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidth;
  padding: 0 25px;
  margin: 0 auto;
}

