.post-feed {
  padding-top: 80px;
  &__container {
    display: flex;
  }
}

.posts-tape {
  flex: 0 0 614px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 18px 0 0 28px;
  &__main-user {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  &__img-main-user {
    width: 56px;
  }
  &__info-main-user {
    flex: 1 1 auto;
    align-items: flex-start;
    padding: 0 10px 0 24px;
  }
  &__name-main-user {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__follow-user {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__img-follow-user {
    width: 32px;
  }
  &__info-follow-user {
    flex: 1 1 auto;
    align-items: flex-start;
    padding: 0 10px 0 12px;
  }
  &__name-follow-user {
    margin-bottom: 8px;
  }
  &__status-follow-user {
    font-size: 12px;
  }
}

.suggestions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  &__title {
    color: #8E8E8E;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  &__show-all {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #262626;
    transition: color .5s ease;
    &:hover {
      color: #345aad;
    }
  }
}

.stories-following__wrapper {
  width: 100%;
  height: 118px;
  padding: 18px 20px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background: #FFFFFF;
}

.story-following {
  width: 80px;
  padding: 0 5px;
  &__img {
    width: 56px;
    margin-bottom: 5px;
  }
  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.post-following {
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background: #FFFFFF;
  margin: 25px 0;
  overflow: hidden;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 16px 7px;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-left: 16px;
  }
  &__img-account {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
  &__drop-menu {
    font-size: 25px;
  }
  &__img-post {
    width: 100%;
    height: 614px;
    object-fit: cover;
    object-position: top;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
  }
  &__main-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__action {
    font-size: 24px;
    background-color: #FFFFFF;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
  }
  &__amount-likes {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  &__description {
    margin-bottom: 4px;
    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__amount-comment {
    font-size: 14px;
    line-height: 18px;
    color: #8E8E8E;
  }
  &__time-post {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #8E8E8E;
  }
  &__comment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 16px;
    border-top: 1px solid #EFEFEF;;
  }
  &__comment-input {
    flex: 0 1 100%;
    padding-right: 10px;
  }
  &__btn-post {
    background-color: #FFFFFF;
    color: #0095F6;
    transition: color 0.5s ease;
    &:hover {
      color: #053657;
    }
  }
}

